body{
background-image: url("../images/bg.jpg");
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-color: black;
position: relative;

}
#header{
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
}
#title{
    font-size: 50px;
    color:#da0f10;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    letter-spacing: 3px;
    padding: 20px 0px;
    width: 100%;
    background-color: #ffffff;
    height: 100px;
    padding-bottom: 100px;
    width: 100%;
    
}

#mickey{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 20px;
    
}

#nfl{
    width: 75px;
    height: 50px;
    margin-right: 10px;
    margin-left: 15px;
    
}

#questionbox{
    color: #ffffff;
    margin:  0 auto;
    height: 300px;
    width: 300px;
    padding: 0px;
}
#answerrow{
    margin: 15px;
    
}

#answerbox{
    color: red;
    border: 3px solid #ffffff;
    margin:  auto;
    height: 250px;
    width: 100px;
    background: rgba(252, 252, 252, 0.616);
}

 img{
height: 250px;
width: 250px;
margin: 0 auto;
border: 3px solid #ffffff;

}

form{
    height: 300px;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 20px;
}

h2{
    color:#da0f10;

}

h4{
    margin: 0 auto;
    text-align: center;
}

button{
    margin: 0 auto;
    float:bottom;
    position: absolute;
}