body{
    background-image: url("../images/bg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
}

#title{
    font-size: 50px;
    color:#da0f10;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    letter-spacing: 3px;
    padding: 20px 0px;
    width: 100%;
    background-color: #ffffff;
    height: 100px;
    padding-bottom: 100px;
    width: 100%;
    
}

#mickey{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 20px;
    
}

#nfl{
    width: 75px;
    height: 50px;
    margin-right: 10px;
    margin-left: 15px;
    
}

h4{
    margin: 0 auto;
    text-align: center;
}

.jumbotron {
    background: rgba(252, 252, 252, 0.616);
    border-width: 1px;
    border-color: black;
  
    height: 100%;
    margin: auto;
    margin-top: 80px;
    width: 800px;
    height: 600px;
    
  }

  .imageDiv{
      width: 150px;
      height: 150px;
  }